@use "../components/buttons";
@use "../abstracts/variables";



/******PAGE D'ACCUEIL******/
/******PAGE D'ACCUEIL******/

//HERO RESPONSIVE
@media screen and (max-width: 1536px) {
    .container-main {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 1280px) {
    .container-main {
        padding: 0 5rem;
    }

    .square-g2 {
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    //HERO
    .square-red {
        display: none;
    }
    .hero-accueil {
        background-color: variables.$primary;
        width: 100%;
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .container-main {
        padding: 0;
    }
    .hero-img-accueil {
        display: none;
    }
    .hero-img-accueil-inside {
        display: flex;
        width: 40%;
        height: 370px;
    }
    .hero-img-accueil-inside > img {
        width: 100%;
        height: 100%;
        object-fit: cover;      
        object-position: center;
        display: block; 
    }

    .hero-description {
        width: 40%;
    }

    //PROFIL
    .square-grey {
        display: none;
    }

    .profil {
        flex-direction: column-reverse;
        margin: 0;
        padding: 5rem;
        gap: 5rem;
    }

    .profil-description {
        width: 100%;
        text-align: center;
    }

    .profil-img {
        width: 100%;
        height: 300px;
    }

    .profil-img > img {
        max-width: 100%;

    }
}

@media screen and (max-width: 576px) {
    .hero-accueil {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hero-img-accueil-inside {
        width: 100%;
    }

    .hero-description {
        width: auto;
        padding: 4rem 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    h2 {
        margin: 0;
    }

}


/******PAGE COMPETENCES******/
/******PAGE COMPETENCES******/

@media screen and (max-width: 1536px) {
    .hero-competence {
        width: 60%;

    }

    .container-competences {
        padding: 11% 10rem 5rem 10rem;
    }

    .container-languages {
        padding: 15rem 10rem 10rem 10rem;
    }

    .main-competences {
        height: auto;
    }
}

@media screen and (max-width: 1280px) {

    //HERO COMPETENCES
    .hero-img-competences-desktop, 
    .redSquare-competences,
    .redSquare-competences-right
     {
        display: none;

    }

    .container-competences {
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }

    .container-main-competences {
        padding: 5rem;
        background-color: variables.$primary;
    }

    .hero-competence {
        width: 48%;
    }
     
    .hero-img-competences-mobile {
        display: flex;
        width: 48%;
        height: 100%;
    }

    .hero-img-competences-mobile > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    //LANGUAGES
    .container-languages {
        padding: 5rem;
    }
        
}

@media screen and (max-width: 992px) {
    .hero-img-competences-mobile {
        height: 464px;
    }
}

@media screen and (max-width: 768px) {
    .container-competences {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .container-main-competences {
        padding: 0;
    }

    .hero-img-competences-mobile {
        width: 100%;
        height: 370px;
    }

    .hero-competence {
        padding: 4rem;
        width: auto;
        gap: 1rem;
        text-align: center;
    }

    .main-competences {
        height: auto;
    }

    .langage-grid {                      
        grid-template-columns: repeat(3, minmax(0, 1fr));               
    }
}

@media screen and (max-width: 576px) {
     .hero-competence {
        padding: 4rem 10px;
     }

    .langage-grid {                      
        grid-template-columns: repeat(2, minmax(0, 1fr));               
    }

    .container-languages {
        padding: 5rem 10px;
        text-align: center;
    }
}

/*****PAGES CONTACT*****/
/*****PAGES CONTACT*****/

@media screen and (max-width: 1536px) {
    .container-contact {
        padding: 7rem;
        margin:0 3rem 12rem 3rem
    }

    .mail-img {
        position: absolute;
        width: 38%;
        height: 40%;
        right: 5%;
        top: 445px;
    }
}

@media screen and (max-width: 1280px) {
    .container-contact {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .mail-img {
        position: inherit;
        width: 100%;
        height: 25rem;
    }

    .contact-description {
        gap: 3rem;
        text-align: center;
        padding: 5rem;
    }

    .contacts {
        text-align: start;
        padding: 3rem 20%;
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        text-align: start;
        padding: 3rem 0;
    }
}


@media screen and (max-width: 576px) {
    .contact-description {
        padding: 3rem 10px 2rem 10px;
    }
}

/*****PAGES PROJET*****/
/*****PAGES PROJET*****/

@media screen and (max-width: 1536px) {
    .container-projets {
        padding: 3rem 5rem;
        margin: 3rem 5rem;
    }
}

@media screen and (max-width: 1280px) {
    .container-projets {
        padding: 1rem 3rem;
        margin: 3rem 2rem;
    }

    .carousel {
        width: 40rem;
    }
}

@media screen and (max-width: 992px) {
    .carousel {
        width: 30rem;
    }
}

@media screen and (max-width: 768px) {
    .container-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }  

    .container-carousel {
        display: none;
    }
}

@media screen and (max-width: 576px)  {
    .card {
        width: 75%;
        border: 2px solid variables.$light;
        border-radius: 20px;
        overflow: hidden;
    }

    .container-projets {
        padding: 3rem 1rem 4rem 1rem;
        margin: 1rem;
    }
}