@use "../abstracts/variables";
@use "../base/typographie";


header {
    background-color: variables.$dark;
    height: 128px;
    display: flex;
    align-items: center;
    position:relative;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25rem;
}

nav > ul > li > a, .logo {
    font-size: 24px;
}

nav > ul {
    display: flex;
     list-style: none;
}

ul > li > a {
   text-decoration: none;
   color: variables.$primary;
   font-size: 24px;
}

ul > li {
    padding: 0 10px;
}

ul > li:hover {
    font-weight: bold;
}

.logo {
    text-decoration: none;
    color: variables.$light;
    font-size: 48px;
    text-align: center;
}

.menu {
    height: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.menu-line {
    width: 40px;
    border: 2px solid variables.$light;
    border-radius: 10px;
}

@media screen and (max-width: 1536px) {
    .container-head {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 1280px) {
    .container-head {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        cursor: pointer;
    }
    nav {
        display: none;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        padding:0 10rem;
       
        gap: 0;
    }
    nav > ul > li {
        padding: 1rem;
        border-bottom: 1px solid variables.$primary;
    }

     nav > ul > li:last-child {
        border-bottom: none;
     }

    .nav-menu {
        position: absolute;
        top: 128px;
        display: flex;
        width: 100%;
        background-color: variables.$dark;
        left: 0;
        z-index: 3;
    }

    .links-menu {
        width: 100%;
        text-align: center;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
        .container-head {
        padding: 10px;
    }
}
