@use "../layout/header";
@use "../layout/footer";
@use "../components/buttons";
@use "../abstracts/variables";
@use "../base/responsive";

.container-contact {
    display: flex;
    flex-direction: column;
    background-color: variables.$primary;
    margin: 0 12rem 10rem 12rem;
    padding: 5rem 28rem 7rem 13rem;
    gap: 2.6rem;
}

.container-contact p {
    font-size: 18px;
    color: variables.$light;
}

.mail-img {
    position: absolute;
    width: 38%;
    height: 45%;
    right: 5%;
    top: 445px;
}

.mail-img > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 7rem;
}

.contacts div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contacts svg {
    color: variables.$light;
}

.contacts a {
    font-size: 14px;
    text-decoration: none;
    color: variables.$light;
}

.contacts a:hover {
    border-bottom: 1px solid variables.$light;
}

@media screen and (max-width: 1536px) {
    .container-contact {
        padding: 7rem;
        margin:0 3rem 12rem 3rem
    }

    .mail-img {
        position: absolute;
        width: 38%;
        height: 40%;
        right: 5%;
        top: 550px;
    }
}

@media screen and (max-width: 1280px) {
    .container-contact {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .mail-img {
        position: inherit;
        width: 100%;
        height: 25rem;
    }

    .contact-description {
        gap: 3rem;
        text-align: center;
        padding: 5rem;
    }

    .contacts {
        text-align: start;
        padding: 3rem 20%;
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        text-align: start;
        padding: 3rem 0;
    }
}


@media screen and (max-width: 576px) {
    .contact-description {
        padding: 3rem 10px 2rem 10px;
    }
}