@use "../layout/header";
@use "../layout/footer";
@use "../components/buttons";
@use "../abstracts/variables";

.container-contact {
    display: flex;
    flex-direction: column;
    background-color: variables.$primary;
    margin: 0 12rem 10rem 12rem;
    padding: 5rem 28rem 7rem 13rem;
    gap: 2.6rem;
}

.container-contact p {
    font-size: 18px;
    color: variables.$light;
}

.mail-img {
    position: absolute;
    width: 38%;
    height: 35%;
    right: 5%;
    top: 32rem;
}

.mail-img > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 7rem;
}

.contacts div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contacts svg {
    color: variables.$light;
}

.contacts a {
    font-size: 14px;
    text-decoration: none;
    color: variables.$light;
}

.contacts a:hover {
    border-bottom: 1px solid variables.$light;
}

