@use "../layout/header";
@use "../layout/footer";
@use "../components/buttons";
@use "../abstracts/variables";


.container-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$primary;
    padding: 3rem 13rem;
    margin: 3rem 12rem;
    text-align: center;
    gap: 3rem;
}

.container-projets p {
    color: variables.$light;
}


//CAROUSSEL
.container-carousel {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.carousel {
    width: 50rem;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}


.carousel img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position:left;
    object-fit: cover;
    transition: opacity 0.6s ease-in-out;
}

.carousel img.active {
    opacity: 1;
    z-index: 1;
}

.carousel img:first-child {
    display: block; 
}

#left-arrow,
#right-arrow {
    color: variables.$light;
}



//CARDS

.container-cards {
    display: none;
}

.card {
    width: 60%;
    border: 2px solid variables.$light;
    border-radius: 20px;
    overflow: hidden;
}

.container-card-img {
    width: 100%;
    height: 14rem;
    border-bottom: 2px solid variables.$light;
}

.container-card-img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.card h3 {
    color: variables.$light;
}

.card-description {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-description h3 {
    margin: 0;
}
