@use "../components/buttons";
@use "../abstracts/variables";

//HERO RESPONSIVE
@media screen and (max-width: 1536px) {
    .container-main {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 1280px) {
    .container-main {
        padding: 0 5rem;
    }

    .square-g2 {
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    //HERO
    .square-red {
        display: none;
    }
    .hero-accueil {
        background-color: variables.$primary;
        width: 100%;
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .container-main {
        padding: 0;
    }
    .hero-img-accueil {
        display: none;
    }
    .hero-img-accueil-inside {
        display: flex;
        width: 40%;
        height: 370px;
    }
    .hero-img-accueil-inside > img {
        width: 100%;
        height: 100%;
        object-fit: cover;      
        object-position: center;
        display: block; 
    }

    .hero-description {
        width: 40%;
    }

    //PROFIL
    .square-grey {
        display: none;
    }

    .profil {
        flex-direction: column-reverse;
        margin: 0;
        padding: 5rem;
        gap: 5rem;
    }

    .profil-description {
        width: 100%;
        text-align: center;
    }

    .profil-img {
        width: 100%;
        height: 300px;
    }

    .profil-img > img {
        max-width: 100%;

    }
}

@media screen and (max-width: 576px) {
    .hero-accueil {
        flex-direction: column-reverse;
        padding: 0;
    }

    .hero-img-accueil-inside {
        width: 100%;
    }

    .hero-description {
        width: auto;
        padding: 4rem 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    h2 {
        margin: 0;
    }

}